{% extends 'base.html' %}
{% load static %}
{% block title %}
My Profile
{% endblock title %}

{% block body %}
<style>
    .profile-box {
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
    }

    .profile-picture {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="container mt-5">
    <div class="row">
        <!-- Left side: Profile and Listings -->
        <div class="col-lg-4 mb-3">
            <div class="profile-box ">
                <p>Profile</p>
                <p>My Listings</p>
            </div>
        </div>
        <!-- Right side: Profile Picture, Name, Email, Phone Number -->

        <div class="col-lg-8">
            <div class="profile-box d-flex">
                <div class="col-6">
                    <div class="profile-picture-container">
                        <img src="{{ user.profile.profile_image.url }}" class="profile-picture rounded-circle"
                                alt="Profile Picture" style="width: 220px; height: 220px; object-fit: cover;">
                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-details-container">
                        <h5 class="mb-3">{{ user.username }}</h5>
                        <p>{{ user.email }}</p>
                        <p>{{ user.profile.name }}</p> 
                        <p>{{ user.profile.phone }}
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'profile-update' %}" class="btn btn-primary text-white">Edit Profile</a>
                        <a href="{% url 'profile-delete' %}" class="btn btn-danger text-white">Delete Profile</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock body %}