{% extends 'base.html' %}
{% load static %}
{% block title %}
My Profile Update
{% endblock title %}

{% block content %}

<style>
    /* Style the form container */
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* Set the container height to full viewport height */
    }

    /* Style the profile picture */
    .profile-picture {
        width: 110px;
        height: 110px;
        border-radius: 10%;
        margin-bottom: 10px;
        object-fit: cover;        
    }

    /* Style form fields */
    .form-container form {
        width: 100%;      
    }

    .form-container input[type=text],
    .form-container input[type=email],
    .form-container input[type=password] {
        width: 100%;
        padding: 8px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }

    /* Style the form submit button */
    .form-container button[type=submit],
    .form-container a.btn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: calc(50% - 4px);
        /* Adjust width to fit both buttons in one line */
        text-decoration: none;
        text-align: center;
        display: inline-block;
        transition: background-color 0.3s;
    }

    /* Change the button background color on hover */
    .form-container button[type=submit]:hover,
    .form-container a.btn:hover {
        background-color: #45a049;
    }

    /* Media query for smaller screens */
    @media only screen and (max-width: 600px) {
        .form-container {
            max-width: 90%;
            /* Adjust the maximum width for smaller screens */
        }
    }
    @media only screen and (max-width: 340px) {
        .form-container {
            padding: 10px;
    }
        .form-container button,
        .form-container a {
            width: 100%;
            margin-bottom: 10px;
        }
}
    
</style>

<div class="form-container mt-1">
    {% if user.profile.profile_image %}
        <img src="{{ user.profile.profile_image.url }}" alt="Profile Picture" class="profile-picture mt-2">
    {% endif %}
    <form method="post" action="{% url 'profile-update' %}" class="mt-4" enctype="multipart/form-data">
        {% csrf_token %}      
        
        {{ form.as_p }}
        <div style="display: flex; justify-content: space-between;">
            <button type="submit">Save</button>
            <a href="{% url 'profile-page' %}" class="btn btn-primary">Go Back</a>
        </div>
    </form>
</div>
{% endblock content %}