{% extends 'base.html' %}
{% load static %}
{% block title %}
My Profile
{% endblock title %}

{% block body %}
<style>
    .profile-box {
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
    }

    .profile-picture {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <!-- Left side: Profile and Listings -->
        <div class="col-lg-4 mb-3">
            <div class="profile-box ">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/profile-page/' %}active{% endif %}"
                            aria-current="page" href="{% url 'profile-page' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/my-listings/' %}active{% endif %}" aria-current="page"
                            href="{% url 'my-listings' %}">My Listings</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a id="profile-link" class="nav-link active" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a id="listings-link" class="nav-link" href="listings/listings.html">My Listings</a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="profile-section" class="profile-box d-flex">
                <div class="col-6">
                    <h2>My Profile</h2>
                    <div class="profile-picture-container">
                        <img src="{{ user.profile.profile_image.url }}" class="profile-picture rounded-circle"
                            alt="Profile Picture" style="width: 220px; height: 220px; object-fit: cover;">
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-details-container">
                        <h5 class="mb-3">{{ user.username }}</h5>
                        <p>{{ user.email }}</p>
                        <p>{{ user.profile.name }}</p>
                        <p>{{ user.profile.phone }}</p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'profile-update' %}" class="btn btn-primary text-white">Edit Profile</a>
                        <a href="{% url 'profile-delete' %}" class="btn btn-danger text-white">Delete Profile</a>
                    </div>
                </div>
            </div>


            <!-- <div id="listings-section" class="profile-box d-none">
                <div class="col">                    
                    <h2>My Listings</h2>
                    <ul>                        
                        {% if listings %}
                        {% for listing in listings %}
                        <li>                            
                            <img src="{{ listing.dog.photo.url }}" alt="{{ listing.dog.breed }} photo">
                            <p>Breed: {{ owner.listing.breed }}</p>
                            <p>Sex: {{ listing.dog.sex }}</p>
                            <p>Date of Birth: {{ listing.dog.DOB }}</p>
                            <p>Price: {{ listing.price }}</p>
                            <p>Location: {{ listing.location }}</p>
                            <p>Description: {{ listing.description }}</p>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>No listings found.</li>
                        {% endif %}
                     </ul> 
                    -->
            <!-- <div class="text-center mt-3">
                <a href="{% url 'profile-update' %}" class="btn btn-primary text-white">Edit Listings</a>
                <a href="{% url 'profile-delete' %}" class="btn btn-danger text-white">Delete Listings</a>
            </div> -->
        </div>
    </div>
</div>
<!-- ................................................ -->
<!-- Right side: Profile Picture, Name, Email, Phone Number -->

<!-- <div class="col-lg-8">
            <div class="profile-box d-flex">
                <div class="col-6">
                    <h2>My Profile</h2>
                    <div class="profile-picture-container">
                        <img src="{{ user.profile.profile_image.url }}" class="profile-picture rounded-circle"
                            alt="Profile Picture" style="width: 220px; height: 220px; object-fit: cover;">

                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-details-container">
                        <h5 class="mb-3">{{ user.username }}</h5>
                        <p>{{ user.email }}</p>
                        <p>{{ user.profile.name }}</p>
                        <p>{{ user.profile.phone }}</p>
                    </div>
                    <div class="text-center mt-3">
                        <a href="{% url 'profile-update' %}" class="btn btn-primary text-white">Edit Profile</a>
                        <a href="{% url 'profile-delete' %}" class="btn btn-danger text-white">Delete Profile</a>
                    </div>
                </div>
            </div>
        </div> -->

<!-- Listing details section -->
<!-- <div class="row mt-5">
        <div class="col">
            <h2>My Listings</h2>
            
            <ul>
                {% for listing in user.listings.all %}
                <li>{{ listing.dog }} - {{ listing.description }}</li>
                
                {% endfor %}
            </ul>
        </div>
    </div> -->


{% endblock body %}