{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile Delete
{% endblock title %}

{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Are you sure you want to delete this user?</h2>
                    <div>
                        <h4 class="text-danger">You are about to delete your account.
                            <br>
                            This action cannot be undone.</h4>
                    </div>
                </div>
                <div class="card-body custom-body">
                    <form method="post" action="{% url 'profile-delete' %}">
                        {% csrf_token %}
                        <div class="text-center mb-3"> <!-- Center buttons -->
                            <button type="submit" class="btn btn-danger mr-2">Delete Profile</button>
                            <a href="{% url 'profile-update' %}" class="btn btn-primary">Go Back</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>        

{% endblock body %}