{% extends 'base.html' %}
{% block title %}
Listings
{% endblock title %}

{% block body %}

<div class="row">
    {% for dog in dogs %}
    <div class="col">
        <div class="card" style="width: 18rem; height: 25rem;">
            <!-- <img src="{{ dog.photo.url }}" class="card-img-top" alt="{{ dog.breed }} Photo"
                style="height: 15rem; object-fit: cover;"> -->
            <div class="card-body" style="height: 15rem;">
                <h2 class="card-title text-truncate">{{ dog.breed }} </h2>
                <div class="row py-2 ">
                    <div class="col-6">
                        <i class="fas fa-map-marker"></i> {{ dog.breed |capfirst }}
                    </div>
                    <div class="col-6">
                        <i class="fas fa-clock"></i> {{ dog.created|timesince }}
                    </div>
                </div>
                <div class="card"> <img src="{{ dog.photo.url }}" class="card-image" alt="{{  dog.breed }} image">
                </div>
            </div>
            <!-- <h5 class="card-title">{{ dog.breed }}</h5>
                <p class="card-text" style="overflow: hidden; text-overflow: ellipsis;">Sex: {{ dog.sex }}</p>
                <p class="card-text" style="overflow: hidden; text-overflow: ellipsis;">DOB: {{ dog.DOB }}</p> -->
            <!-- {% if dog.listing %}
                    <p class="card-text">Price: {{ dog.listing.price }}</p>
                    <p class="card-text">Location: {{ dog.listing.location }}</p>
                {% else %}
                    <p class="card-text">Price: Not available</p>
                    <p class="card-text">Location: Not available</p>
                {% endif %} -->
            <a href="#" class="btn btn-primary">View Details</a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock body %}