{% extends 'base.html' %}
{% load static %}
{% block title %}
My Profile
{% endblock title %}

{% block content %}
<div class="container">
    <button class="btn blue text-white mt-4 " style="margin-left: 2.5rem;" onclick="history.back()">Go Back</button>
    <div class="container text-center mt-0">   
        <h1>Recent Listings for {{ user.profile.name |capfirst }}</h1>
        <div class="row mt-5 justify-content-center">
            {% if listings %} 
            {% for listing in listings %}
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <div class="card">
                        <h2 class="card-title text-truncate">{{ listing.dog.breed|capfirst }}</h2>
                        <div class="row py-2">
                            <div class="col-6">
                                <i class="fas fa-map-marker"></i> {{ listing.location |capfirst }}
                            </div>
                            <div class="col-6">
                                <i class="fas fa-clock"></i> {{ listing.dog.created_at|timesince }}
                            </div>
                        </div>
                        <div class="card-image-container">
                            <a href="{% url 'single-listing' listing.id %}" class="card-link">
                            <img src="{{ listing.dog.photo.url }}" class="card-image img-fluid" alt="{{ dog.breed }} image"></a>
                        </div>
                        <div class="row py-2">
                            <div class="col-6">
                                <i class="fa-solid fa-genderless"></i> {{ listing.dog.temperament|capfirst }}
                            </div>
                            <div class="col-6">
                                <i class="fa-regular fa-calendar-days"></i> {{ listing.dog.DOB|capfirst }}
                            </div>                        
                        </div>
                        <h3>Price: €{{ listing.price}}</h3>
                        <div class="text-center mb-1">                                             
                            <a href="{% url 'single-listing' listing.id %}" class="btn btn-primary">View </a>
                            <a href="#" class="btn btn-primary">Edit </a>
                            <a href="{% url 'listing-delete' listing.id %}" class="btn btn-danger ">Delete </a>
                            
                        </div>                         
                    </div>                
                </div>           
            {% endfor %}
            {% else %}
                <div class="col-12">
                    <h2>No listings available.</h2>
                </div>
            {% endif %}
        </div>
    </div>
</div>    

{% endblock content %}