{% extends 'base.html' %}
{% load static %}
{% block title %}
My Profile
{% endblock title %}

{% block body %}

<div class="container text-center mt-5">
    <h1>Recent Listings for {{ user.username }}</h1>
    <div class="row mt-5 justify-content-center"> 
        {% if user_dogs %}         
        {% for dog in user.dog_set.all %}
        <div class="col-10 col-md-6 col-xl-4 mb-4">
            <div class="card" style="width: 25rem; height: 26rem;">
                <h2 class="card-title text-truncate">{{ dog.breed|capfirst }} </h2>
                <div class="row py-2 ">
                    <div class="col-6">
                        <i class="fa-solid fa-dog"></i> {{ dog.breed |capfirst }}
                    </div>
                    <div class="col-6">
                        <i class="fas fa-clock"></i> {{ dog.created_at|timesince }}
                    </div>
                </div>
                <div class="card" style="height: 15rem;">
                    <img src="{{ dog.photo.url }}" class="card-image" alt="{{ dog.breed }} image">
                </div>
                <div class="row py-2 ">
                    <div class="col-6">
                        <i class="fa-solid fa-genderless"></i> {{ dog.temperament|capfirst }}
                    </div>
                    <div class="col-6">
                        <i class="fa-regular fa-calendar-days"></i> {{ dog.DOB|capfirst }}
                    </div>
                </div>
                <a href="#" class="btn btn-primary">View Details</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="col-12">
                <h2>No listings available.</h2>
            </div>
        {% endif %}
    </div>
</div>
{% endblock body %}