{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
 
<div id="hero-image">
    <img src="https://res.cloudinary.com/dmhdrvehj/image/upload/v1717270014/hero-image1_n5xhca.jpg" class="img-fluid"
    alt="hero-image">
</div>      

<section class="results mt-3">
  <div class="container text-center mt-3">
      <h1> Recent Listings</h1>
      <div class="row mt-5 justify-content-center">          
          {% for listing in recent_listings %}
          <div class="col-12 col-sm-6 col-md-4 mb-4">
              <div class="card">
                  <h2 class="card-title text-truncate">{{ listing.dog.breed|capfirst }}</h2>
                  <div class="row py-2">
                      <div class="col-6">
                          <i class="fas fa-map-marker"></i> {{ listing.location |capfirst }}
                      </div>
                      <div class="col-6">
                          <i class="fas fa-clock"></i> {{ listing.dog.created_at|timesince }}
                      </div>
                  </div>
                  <div class="card-image-container">
                      <a href="{% url 'single-listing' listing.id %}" class="card-link">
                      <img src="{{ listing.dog.photo.url }}" class="card-image img-fluid" alt="{{ dog.breed }} image"></a>
                  </div>
                  <div class="row py-2">
                      <div class="col-6">
                          <i class="fa-solid fa-genderless"></i> {{ listing.dog.temperament|capfirst }}
                      </div>
                      <div class="col-6">
                          <i class="fa-regular fa-calendar-days"></i> {{ listing.dog.DOB|capfirst }}
                      </div>                        
                  </div>
                  <h3>Price: €{{ listing.price}}</h3>
                  <a href="{% url 'single-listing' listing.id %}" class="btn btn-primary">View Details</a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>    
</section>

{% endblock content %}

